article{
    color: white;
    display:flex;
    padding: 10px;
    font-size: .8rem;
}
article header{
    display: flex;
    align-items: center;
    gap: 4px;
}
article img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}
article button{
    margin-left: 16px;
    height: fit-content;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
}
article header div{
    display: flex;
    flex-direction: column;
}
article header span{
    opacity: .6;
}
article aside{
    display: grid;
    place-content: center;
}