.tw-followCard{
    color: white;
    display:flex;
    margin-bottom: 3px;
    font-size: .8rem;
    justify-content: space-between;
}
.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}
.tw-followCard-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}
.tw-followCard-user{
    display: flex;
    flex-direction: column;
}
.tw-followCard-userName{
    opacity: .6;
}
.tw-followCard-button{
    display: grid;
    place-content: center;
}
.tw-followCard-button button{
    margin-left: 16px;
    height: fit-content;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
}